<header class="site-header">
    <div class="section typeset">
      <div class="single-measure">
        <h1>NodeSchool Augsburg</h1>
        <p>Open source workshops that teach web software skills.</p>
        <img alt="nodeschool-augsburg-logo" title="NodeSchool Augsburg Logo" src="{{ "/images/nodeschool-augsburg-logo.svg" | prepend: site.baseurl }}" class="logo" />
        <p class="lead">Our next Nodeschool in Augsburg takes place on 18th of November 2017. <a href="http://meetu.ps/35fyyL">Join us here!</a></p>
      </div>
    </div>
</header>
